@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --paddingTopBottom: 10px;
    --paddingLeftRight: 90px;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 200vh;
    /*tymczasowo zeby zobaczyc jak wyglada uklad strony*/
    margin: 0 auto;
}

/* nawigacja */
.navigation {
    flex-basis: 100%;
    display: flex;
    position: relative;
    align-items: center;
    height: 50px;
    padding-right: var(--paddingLeftRight);
    padding-left: var(--paddingLeftRight);
    font-size: 18px;
    background-color: #4E4E4E;
    color: #FFF;


}

.my-company {
    font-weight: bold;
    line-height: 21px;
    cursor: context-menu;


}

.menu {
    display: flex;
    align-items: center;
    text-align: right;
    height: 100%;
    position: absolute;
    right: var(--paddingLeftRight);
    list-style: none;
}

.menu li {
    line-height: 21px;
    flex-grow: 1;
    margin-right: 45px;

}

.menu li a {
    display: block;
    text-decoration: none;
    color: #FFF;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li:last-child a {
    cursor: not-allowed;
}

/* landing page */
.landing-page {
    flex-basis: 100%;
    height: calc(100vh - 50px);
    background-image: url(https://pixabay.com/get/g0a85d51ed2decd6a48dba996395dc54f91e0979b8d411a8f66c57cb39b7232ab6e55df1e7187d18eb795c1ea8f7229468662ca9a1edbd57db19d7fff82b2310d_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    display: flex;
}

.cover-img {
    flex-basis: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: var(--paddingLeftRight);

}

.about-texts {
    flex-basis: 100;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
}

.about-texts h1 {
    flex-basis: 70%;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
}

.about-texts p {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.btn-landing {
    flex-basis: 20%;
    font-size: 18px;
    padding: 10px 25px;
    background-color: transparent;
    border: 3px solid #FFF;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    transition: 1s linear;
}

.btn-landing:hover {
    background-color: #FFF;
    color: #000;
}